{%if user.is_authenticated%}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000; color: #fff;">
    <a class="navbar-brand" href="{%url 'index'%}"><i class='fas fa-camera'></i>
        InstaPhotoz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="color: #fff;">
            <a style="color: #fff;" class="nav-link" href="{%url 'index'%}"><span><i class='fas fa-home' style='font-size:1rem; color: #fff;'></i></span>Home</a>
            <a style="color: #fff;" class="nav-link" href="{%url 'profile' request.user.id%}"><span><i class='fas fa-user-circle' style='font-size:1rem; color: #fff;'></i></span> Profile</a>
            <a style="color: #fff;" class="nav-link" href="{%url 'profiles' %}"><span><i class='fas fa-users' style='font-size:1rem; color: #fff;'></i></span>Profiles</a>
            <a style="color: #fff;" class="nav-link " href="{%url 'logout'%}"><span><i class='fas fa-share-square' style='font-size:1rem; color: #fff;'></i></span>Logout</a>
        </div>
    </div>
</nav>
{%endif%}
