{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">My Profile</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <ul>
                {% if profile.profile_photo %}
                <li><img src="{{profile.profile_photo.url}}" alt="Profile Photo"></li>
                {% endif %}
                <li>{{user.username}}</li>
                <li>{{profile.first_name}}</li>
                <li>{{profile.last_name}}</li>
                <li>{{profile.bio}}</li>
                <li>Followers: {{ count_followers }}</li>

            </ul>
            {% if user == request.user %}
            {% else %}
            {% if is_following %}
            <form method="POST" action="{% url 'deleteFollower' profile.id %}">
                {% csrf_token %}
                <button class="btn btn-outline-danger" type=submit>UnFollow</button>
            </form>
            {% else %}
            <form method="POST" action="{% url 'addFollower' profile.id %}">
                {% csrf_token %}
                <button class="btn btn-outline-success" type=submit>Follow</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <ul>

                {% for image in images %}
                <li><a href="{%url 'imageDetail' image.id%}"><img src="{{image.image.url}}" alt="{{image.image_name}}"></a></li>
                {% endfor %}

            </ul>
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>
{% endblock %}